* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: rgb(253, 248, 255);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(145, 71, 213);
}

.title {
  padding: 10px 20px 10px 20px;
  margin: 10px;
  border-radius: 12px;
  background-color: white;
  color: rgb(145, 71, 213);
  font-size: 26px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

.title:hover {
  transition: all 0.3s;
  background-color: rgb(145, 71, 213);
  color: white;
  cursor: pointer;
}

main {
  display: flex;
  height: 100%;
  width: 100%;
  /* border: 1px solid black; */
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.handler-container {
  width: 500px;
}

.add-task-input-block {
  width: 500px;
  border: 1px solid rgb(189, 189, 189);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-task-input-block input {
  font-size: 16px;
  padding: 15px;
  width: 480px;
  border: 1px solid rgb(205, 205, 205);
  background-color: white;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease;
  margin-top: 10px;
}

#input-error-label {
  align-self: flex-start;
  margin-left: 12px;
  margin-top: 5px;
  font-size: 16px;
  color: red;
}

.add-task-input-block input.error-input {
  border: 1px solid red !important;
}

.hidden {
  display: none;
}

.add-task-buttons-block {
  width: 500.5px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 8px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: 0px;
}

.add-task-buttons-block button {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 12px 6px 12px 6px;
  border-radius: 8px;
}

.add-task-buttons-block button:hover {
  cursor: pointer;
}

.add-task-button {
  width: 340px;
  background-color: rgb(0, 117, 243);
  color: white;
  border: 0px;
}

.clear-task-input-button {
  width: 130px;
  background-color: transparent;
  color: rgb(0, 117, 243);
  border: 1px solid;
}

.tasks-management {
  display: flex;
  margin-top: 20px;
}

.tasks-list-container {
  height: 400px;
  width: 500px;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}

.block-title {
  font-size: 18px;
  padding: 12px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(105, 105, 105);
  background-color: rgb(238, 238, 238);
  border-bottom: 1px solid rgb(189, 189, 189);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.tasks-list-grid {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
}

.task-element {
  display: flex;
  width: 96%;
  border: 1px solid grey;
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px 5px 10px;
  font-size: 18px;
  margin-top: 10px;
}

.task-name {
  font-weight: bold;
}

.task-element-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: fit-content;
}

.task-element-buttons button {
  height: 35px;
  width: 35px;
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 8px;
  border: 1px solid;
  text-align: center;
}

.task-delete-button {
  cursor: pointer;
  border-radius: 8px;
  border: 1px rgb(0, 117, 243) solid;
  background-color: transparent;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(0, 117, 243);
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-complete-button {
  background-color: rgb(0, 117, 243);
  color: white;
}

.task-complete-button img {
  transform: scale(0.7);
}

.task-element-buttons button:hover {
  cursor: pointer;
}

.task-name.completed-task {
  text-decoration: line-through;
  color: grey;
  font-weight: normal;
}

.task-complete-button.completed-button {
  background-color: rgb(140, 194, 253);
}

.tasks-control-container {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: fit-content;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 8px;
}

.tc-buttons {
  padding: 10px;
}

.tc-buttons button {
  height: 35px;
  width: 100%;
  cursor: pointer;
  border-radius: 8px;
  border: 1px rgb(0, 117, 243) solid;
  background-color: transparent;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(0, 117, 243);
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 15px;
  margin-bottom: 10px;
}

.tc-buttons button:nth-child(3) {
  margin-bottom: 0px;
}

.tc-buttons button img {
  margin-right: 15px;
}
